html, body {
	background-color: #ccc;
	color: #000;
	font-family: sans-serif;
}

body > header h1 {
	margin-top: 0;
}

a {
	color: #0af;
	word-wrap: break-word; // Links are often long URLs

	&:visited { color: #9af; }
}

img {
	max-width: 100%;
}

.copyright, .copyright small {
	display: inline;
	font-size: 0;
	margin: 0;
}

a[rel~=license] {
	display: block;
	background: url("<%= relative_path_to(@items["/by-sa.png"]) %>") no-repeat;
	text-indent: -99999999px;
	height: 31px;
	width: 88px;
}
