---
title: BadCode.rocks
feed: index.atom
---
header
	h1 BadCode.rocks

markdown:
	BadCode.rocks is a bad art competition and an educational tool all together.  Every month, we will release a new coding challenge.  Participants have one month to compose and submit the worst working implementation to the challenge that they can devise.  Our judges will review all submissions on the snark mailing list, and select a winner or two.  Winners get the privilege of having their code used to compose a full teardown article describing why the code is so bad, and how the submission exemplifies what not to do.

	From the above you will hopefully have an idea of what sort of "bad" the judges will be looking for.  We realise this is somewhat subjective, and that's why we're using human judges and not metrics.  This isn't an obfuscation or golf competition, you won't win just by using an esoteric programming language.  Write a solution that solves the problem, and is correct from the point of view of functionality, something your worst self or most incompetent junior co-worker might conceivably have written.  If you can combine together so many real malpractices that your submission is exaggeratedly, comically bad, that's great.  If your submission is just unintelligible line noise, we're not interested.

	All submissions must contain a statement that the code is your own work (groups are ok!) and placing the code under either [CC0](https://creativecommons.org/publicdomain/zero/1.0/), [CC-BY](http://creativecommons.org/licenses/by/4.0/), or [CC-BY-SA](http://creativecommons.org/licenses/by-sa/4.0/).  Submissions are by email to <submissions@badcode.rocks>.  Attaching each source file is preferred, but tarballs or git URLs will also be accepted (especially when directory structure matters).  Submissions may be in any programming language that can be compiled or interpreted on a Debian Stable system.

== render "/feed_item.slim", item: articles[0], full: true

== render "/sidebar_and_footer.slim"
